@import "../../shared/styling/Base.scss";


    .profileCard{
        display: flex;

        img{
            max-width:225px;
        }
        .textSection{
            .Name{
                font-size: $txt-l;
            }
        }
    }
