@import "../../shared/styling/Base.scss";


    .profileCard{
        display: flex;
        max-width:500px;
        padding:1rem;

        img{
            max-height:350px;
            margin-right:1rem;
        }
        .textSection{
            // border:solid;
            max-width: 50%;
            overflow-wrap: break-word;
            .Name{
                font-size: $txt-l;
            }
        }
    }
