@import "../../shared/styling/Base.scss";
.navbar{
    position: absolute;
    z-index: 1;
    top:0;
    display: flex;
    justify-content: space-between;
    width:100vw;
    padding:2.5%;
    .menu{
        transform:rotate(90deg);
        background-color: rgb(161,188,171);
        border-radius:5px;
        border:none;
        font-size: $txt-l;
        margin-bottom:4rem;
        height: fit-content;
    }

    // .logo{
    //     // background-color: white;
    //     border-radius:5px;
    //     // transform:rotate(-20deg);
    //     text-decoration: none;
    //     color:black;
    //     font-family: $contrastFont;
    //     font-weight: 600;
    //     display: flex;
    //     flex-direction: column;
    //     height: fit-content;
    //     padding:0.5rem;
    //     // margin-top:1rem;

    //     .camera{
    //         width:fit-content;
    //         margin:0 auto;
    //         font-size: $txt-m;
    //     }
    //     p{
    //         font-size: $txt-logoText;
    //         margin:0;
    //     }
    // }
}