
.animalContentContainer{
    display:flex;
    gap:1rem;
}

.card{
    max-width:20rem;

    .cardImg{
        max-width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}