.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin:0 auto 2rem auto; 

    .profiles{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap:1rem;
        justify-content: center;
    }

    .textBlock{
        margin:2rem;
    }
}