.about{
    display: flex;
    flex-direction: column;
    align-items: center;

    .profiles{
        max-width: 90vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap:1rem;
        justify-content: center;
    }

    .heroImg{
        transform: translateY(-35%);
    }
}