@import "../../../shared//styling/Base.scss";

.textBlock{
    display: flex;
    gap:2rem;
    max-width: 75vw;
    flex-wrap: wrap;

    .heading{
        font-size:$txt-xl;
        width: 30rem;
    }
    .paragraph{
        font-size: $txt-article;
        width:40rem;
    }

}