@import "../../../shared/styling/Base.scss";

.textBlockContainer{
    max-width:80vw;
    height: 6rem;
    margin:0 auto 5rem;
    box-sizing: border-box;
    padding:2rem;
    // background-color: $bg-color-pink;
    // background-color: rgb(13, 75, 13);
    color:black;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: $rounded-corners;

    p{
        font-size: $txt-l;
        max-width: 100%;
        font-family: $buttonFont;
    }
}