.galleryWrapper{
    margin:0 auto;
    max-width: 100vw;

    .textBlock{
        margin:1rem auto 4rem auto;
    }

    .animalItemContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:2rem auto;
        max-width:90%;
        gap:2rem;

        .animalItem{
            display:flex;
            flex-wrap: wrap;
            gap:2rem;
            margin:0 auto;
            justify-content: center;
    
            .animalItemImg{
                max-width: 80%;
            }
            .animalText{
                display:flex;
                align-items:center;
                max-width: calc(40rem - 10vw);
            }
        }
        .reverse{
            flex-direction: row-reverse;
        }

    }

}