@import "../../shared/styling/Base.scss";
.navbar{
    position: absolute;
    z-index: 1;
    top:0;
    display: flex;
    justify-content: space-between;
    width:100vw;
    padding:2.5%;
    .menu{
        transform:rotate(90deg);
        background-color: rgb(161,188,171);
        border-radius:5px;
        border:none;
        font-size: $txt-l;
        margin-bottom:4rem;
        height: fit-content;
    }
}